<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<title>Welcome Admin</title>
</head>

<body>

	<!-- Primary header -->
	<header class="primary-header container group row-alt">
		
		<!-- logo -->
		<h1 class="logo">
			<a href="index"> CodeMonk </a>
		</h1>

		<!-- links -->
		<nav class="nav">
			<ul>
				<li><a href="index">HOME</a></li>
				<li><a href="portfolio">PORTFOLIO</a></li>
				<li><a href="contact">CONTACT</a></li>
				<li><a href="logout">LOGOUT</a></li>
			</ul>
		</nav>

	</header>


	<!-- Main Content -->
	<div class="grid main-content">
		
		<!-- Contact me -->
		<section class="content admin adminPage">
			
			
			<h2> Welcome Admin <% if(typeof session.mobile !== 'undefined') { %>
				<%= session.mobile %> <% } %>
			</h2>
			<p> Below people contacted you...</p>
			
				<ul>
				    <% results.forEach(function(r) { %>
				        <li> From - <%= r.name %></li>
				        <li> Email - <%= r.email %></li>
				        <li> Subject - <%= r.subject %></li>
				        <li> Email - <%= r.message %></li>
				        <li> When - <%= r.time_stamp %></li>
				        <br><br><br>
				    <% }); %>
				</ul>
		
		</section>

	</div>


	<!-- Primary footer -->
	<footer class="primary-footer container group">
		<small>&copy; CodeMonk</small>
		<!-- links -->
		<nav class="nav"> 
			<ul>
				<li><a href="index">HOME</a></li>
				<li><a href="portfolio">PORTFOLIO</a></li>
				<li><a href="contact">CONTACT</a></li>
				<li><a href="logout">LOGOUT</a></li>
			</ul>
		</nav>

		<div class="icons">
			<a href="http://www.github.com/nikhilprakashmenon" target="_blank"> 
				<i class="fa fa-github-square fa-2x"></i> 
			</a>
			<a href="https://in.linkedin.com/in/nikhil-prakash-b8246276" target="_blank"> 
				<i class="fa fa-linkedin fa-2x"></i>
			</a>
		</div>		

	</footer>


</body>
</html>
